.location-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    position: relative;
    left: 4rem;
    top: 3rem;
    
}

.search {
    background: rgba(155, 155, 155, 0.409);
    border: none;
    outline: none;
    color: white;
    font-size: 4rem;
    min-width: 100px;
}

.search::placeholder {
    color: white;
}

.search-icon {
    background-image: url(../assets/search_white_24dp.svg);
    height: 4rem;
    min-width: 4rem;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
.location-icon {
    background-image: url(../assets/my_location_white_24dp.svg);
    height: 4rem;
    min-width: 4rem;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    .location-search{
        justify-content: space-around;
        max-width: 100%;
        position: unset;
        margin-bottom: 2rem;
        /* padding-left: 1rem;
        padding-right: 1rem; */
        
    }
    .search {
        border: none;
        outline: none;
        color: white;
        padding-left: 2rem;
        font-size: 3em;
        max-width: 70%;
    }
    .search-icon {
        height: 3rem;
        min-width: 3rem;
    }
    .location-icon {
        height: 3rem;
        min-width: 3rem;
        /* padding-right: 2rem; */
    }
  }



