html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-text-color: rgb(255, 255, 255);
  --snowy-background: url(../assets/snowy-background.jpg);
  --sunny-background: url(../assets/sunny-background.jpg);
  --rainy-background: url(../assets/rainy-background.jpg);
  --cloudy-background: url(../assets/background.jpg);
  --night-background: url(../assets/clear-night-background.jpg);
  --cloudy-night-background: url(../assets/cloudy-night-background.jpg);
  --cloudy-night-mobile: url(../assets/cloudy-night-mobile.jpg);
  --clear-night-icon: url(../assets/clear-night.svg);
  --heavy-rain-icon: url(../assets/heavy-rain.svg);
  --light-rain-icon: url(../assets/light-rain.svg);
  --light-snow-icon: url(../assets/light-snow.svg);
  --lightning-icon: url(../assets/lightning.svg);
  --misty-icon: url(../assets/misty.svg);
  --moderate-rain-icon: url(../assets/moderate-rain.svg);
  --moderate-rain-icon: url(../assets/moderate-rain.svg);
  --overcast-icon: url(../assets/overcast.svg);
  --part-cloud-icon: url(../assets/partly-cloudy.svg);
  --snow-icon: url(../assets/snow.svg);
  --sunny-icon: url(../assets/sunny.svg);
  --freezing-thermometer: url(../assets/freezing.svg);
  --normal-thermometer: url(../assets/normal.svg);
  --warm-thermometer: url(../assets/warm.svg);
  --blue-text-color: rgb(95, 190, 225);
  --dark-blue-text-color: rgb(61, 112, 240);
  --cold-text-color: rgb(255, 217, 0);

}
html {
  box-sizing: border-box;
  font-size: 10px;
  color: var(--main-text-color);
  font-family: 'Montserrat', sans-serif;

}

body {
  max-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: fadeInAnimation 3s normal forwards;
  }

  .background-container {
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
  }

  .location {
    font-size: 4rem;
    font-weight: bold;
  }

  .time {
    font-size: 3em;
  }
  .temp {
    font-size: 6rem;
}

.weather-title {
  font-size: 2rem;
}

.grey {
  color: rgba(255, 255, 255, 0.817);
}

.weather-value {
  font-size: 4rem;
}

.weather-icon {
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}

.daily-icon {
  height: 8rem;
  min-width: 8rem;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.weather {
  display: flex;
  align-items: center;
}

.units {
  font-size: 4rem;
  color: rgba(225, 225, 225, 0.776);
  cursor: pointer;
  
}

.day {
  opacity: 0;
  font-size: 6rem;
}

.hour {
  opacity: 0;
}

.fade-in {
  animation: fadeInAnimation 1s normal forwards;
  opacity: 1;
}

.visible {
  opacity: 1;
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOutAnimation {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes backgroundFade {
  from {
    background-color: white;
    opacity: 0;
  }
  to {
    background-color: transparent;
    opacity: 1;
  }
  
}

.snowy {
  background-image: var(--snowy-background);
  animation:fadeInAnimation 3s normal both;
  color: var(--cold-text-color);
  opacity: 1;

}

.sunny {
  background-image: var(--sunny-background);
  animation:fadeInAnimation 3s normal both;
  opacity: 1;
}

.rainy {
  background-image: var(--rainy-background);
  animation:fadeInAnimation 3s normal both;
  opacity: 1;
}

.cloudy {
  background-image: var(--cloudy-background);
  animation:fadeInAnimation 3s normal both;
  opacity: 1;
}

.night {
  background-image: var(--night-background);
  animation:fadeInAnimation 3s normal both;
  opacity: 1;
}

.cloudy-night {
  background-image: var(--cloudy-night-background);
  animation:fadeInAnimation 3s normal both;
  opacity: 1;
}

.cl-night-icon {
background-image: var(--clear-night-icon);
}

.heavy-rain-icon {
background-image: var(--heavy-rain-icon);
}

.light-rain-icon {
background-image: var(--light-rain-icon);
}

.light-snow-icon {
background-image: var(--light-snow-icon);
}

.lightning-icon {
background-image: var(--lightning-icon);
}

.moderate-rain-icon {
background-image: var(--moderate-rain-icon);
}

.overcast-icon {
background-image: var(--overcast-icon);
}

.prt-cloud-icon {
background-image: var(--part-cloud-icon);
}

.snow-icon {
background-image: var(--snow-icon);
}

.sunny-icon {
background-image: var(--sunny-icon);
}
.misty-icon {
  background-image: var(--misty-icon);
}
.freezing-temp {
  background-image: var(--freezing-thermometer);
}
.normal-temp {
  background-image: var(--normal-thermometer);
}

.warm-temp {
  background-image: var(--warm-thermometer);
}
.thermometer {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  height: 6rem;
  width: 6rem;
}
.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: black;
}
.hour {
  font-size: 3rem;
}
.timeframe-toggle {
  cursor: pointer;
}
.hidden {
  display: none;
}






@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
  
  }
  body {
    max-width: 100vw;
    min-width: 100vw;
  }

  .weather-icon {
    height: 15rem;
    min-width: 15rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.weather {
  flex-wrap: nowrap;
  white-space: nowrap;
  flex-shrink: 0;
}
.time {
  font-size: 2em;
  padding-bottom: 1rem;
}
.temp, .units {
  white-space: nowrap;
  font-size: 4em;
}
.day {
  font-size: 3rem;
  white-space: nowrap;
}
.hour {
  font-size: 3rem;
  white-space: nowrap;
}
.background-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.location  {
  overflow-wrap: break-word;
  white-space: unset;
  word-wrap: break-word;
  flex-shrink: 1;
  text-align: center;
  padding-bottom: 2rem;
}
.thermometer {
  height: 4rem;
  width: 4rem;
  padding-right: 2rem;
}

.cloudy-night {
  background-image: var(--cloudy-night-mobile);
}


}